body {
  font-family: sans-serif;
}

#app {
  margin: 0 auto;
  max-width: 400px;
  margin-top: 200px;
}

.bomb {
  width: 15px;
  height: 15px;
  background: black;
  margin-top: 3px;
  border-radius: 100%;
  margin: 0 auto;
}

menu {
  display: flex;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
}

.cell {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}
